.home-container {
  //   background-color: #f8f5f3;
  .homepage-content {
    padding: 127px 0 127px 50px;
    .title-1 {
      font-size: 55px !important;
      font-weight: 400;
    }
    .title-2 {
      margin-top: 50px;
      font-size: 22px;
      color: #262627;
      margin-bottom: 50px;
    }
  }
}
